.product-box {

    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2%;
    border-bottom: 1px solid rgb(226, 220, 220);
}

.product-details h3 {

    font-weight: 500;
}

.product-details {

    padding: 0 5%;
}

.product-details button {

    border: none;
    padding: 2% 5%;
    background-color: rgba(0, 255, 0, 0.493);
    border-radius: 20px;
    font-size: 0.8rem;
    box-shadow: 5px 5px 10px rgb(206, 201, 201);
    cursor: pointer;
}